<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmonX4bzLPHeXW-4d9fJW1LGA3smTeaDk</string>
	<key>GCM_SENDER_ID</key>
	<string>800000081533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCompleteApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-complete-app-189f6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-complete-app-189f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800000081533:ios:78eef8a3aecc0dec083b14</string>
</dict>
</plist>